src/App/*.iml
src/App/.gradle
src/App/local.properties
src/App/.DS_Store
src/App/build
src/App/app/build
src/App/captures
src/App/.externalNativeBuild
src/App/.cxx
src/App/local.properties
src/App/.idea
src/App/app/src/debug